<div class="row">
  <div class="col-xs-12 col-lg-4">
   <!--  <md-button ng-show="loggedIn" href="/" class="back-btn md-raised">Back</md-button> -->

     <md-button href="/stacks/community" class="back-btn md-raised"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</md-button>

  </div>
</div>
</div>
<div class="row">
  <h2 style="text-align: center; margin-top:0px;">{{stack.name}}</h2>
</div>
<div class="row">
  <div ng-repeat="card in cards">
    <div class="card col-xs-12 col-lg-4">
      <div ng-hide="card.show" class="card-question">
        <div class="card-click-area" ng-click="card.show=!card.show">
          <h3>Question:</h3>
          <h2>{{card.question}}</h2>
        </div>
      </div>
      <div ng-show="card.show" class="card-answer">
        <div class="card-click-area" ng-click="card.show=!card.show">
          <h3>Answer:</h3>
          <p>{{card.answer}}</p>
        </div>
    </div>  
    </div>
  </div>
</div>
