h1, h2, h3, h4 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  line-height: 50px;
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.loading-box {
  margin: 10% auto 10% auto;
}

.byline {
  font-size:1.2em;
  text-align: center;
  margin-bottom: 10px;
}

.center-text {
  text-align:center;
}
.logged-name {
  margin-left: 10px;
  color: white;
  text-align: center;
  font-weight: 800;
/*  padding: 15px 0px;*/
  line-height: 50px;
  text-transform: none;
}

.big-logo {
  margin-top: 20px;
  display: inline-block;
  width: 90%;
}

.md-button {
  min-width: 36px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: none;
  font-weight: 600;
}

.add-btn {
    margin: 0 auto 10px auto;
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
}


.back-btn {
  margin: 0px;
}

.submit-btn {
  display: inline-block;
  font-size: 24px;
  padding: 6px 14px;
}



.stack-delete-btn{
  position: absolute;
  left:0;
  bottom: 8px;
  display: inline-block;
}

.stack-edit-btn{
  position: absolute;
  left:40px;
  bottom: 8px;
  display: inline-block;
}

.container {
  background-color:white;
}

.card {
  outline: none;
}

.card h3 {
  font-size: 18px;
  margin-top: 0px;
}

.card h2 {
  font-size: 20px;
  font-style: italic;
}

.card-click-area {
  height: 80%;
  outline: none;
}

.card-question {
  position:relative;
  height: 200px;
  background-color: #cf1797;
  text-align: center;
  padding: 15px;
  outline: none;
  color: white;
  margin-bottom: 10px;
}




.card-answer {
  position: relative;
  height: 200px;
  background-color: #1797cf;
  text-align: center;
  padding: 15px;
  outline: none;
  color: white;
  margin-bottom: 10px;
}

.edit-card {
  position:absolute;
  text-align: center;
  bottom:0;
  right:40px;
  background-color: white;
  width:30px;
  height:30px;
  margin:15px;
  color:black;
  line-height:30px;
  outline: none;
}


.delete-card {
  position:absolute;
  text-align: center;
  bottom:0;
  right:7px;
  background-color: white;
  width:30px;
  height:30px;
  margin:15px;
  color:black;
  line-height:30px;
  outline: none;
}

.stack {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.stack-list-item {
  width:100%;
  font-size:20px;
  position:relative;
  background-color: #eeeeee;
  text-align: center;
  margin-left: 0px;
  padding: 4px;
  outline: none;
  margin-bottom: 4px;
}

.stack-list-item-community {
  width:100%;
  font-size:20px;
  position:relative;
  background-color: #eeeeee;
  text-align: center;
  margin-left: 0px;
  padding: 4px;
  outline: none;
  margin-bottom: 4px;
}

.stack-community {
  text-align: center;
  font-size:24px;
  font-weight: bold;
}

/*.nav {
  background-color: #dddddd;
  height: 50px; 
  line-height: 50px; 
  text-align: center; 
}*/

.navbar-default {
  background-color: #08a2e7;
  border-color: #08a2e7;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #08a2e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #08a2e7;
}
.navbar-default .navbar-toggle {
  border-color: #08a2e7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #08a2e7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 12px 15px;
    font-size: 18px;
    line-height: 20px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #08a2e7;
  }
  .logged-name-big {
    display: none;
  }
}

@media (min-width: 768px){
  .navbar {
       border-radius: 0px; 
  }

  .logged-name-small {
    display: none;
  }
}



@media (max-width: 640px){
  .stack {
    padding-left: 100px;
  }
  .stack-list-item {
    font-size: 14px;
    text-align: left;
    padding: 4px;
  }
   .stack-list-item-community {
    font-size: 14px;
    text-align: center;
    padding: 4px;
  }
  .stack-community {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  h1 {
  font-size: 24px;
}
}

@media (max-width: 350px){
  .stack {
    padding-left: 100px;
  }
  .stack-list-item {
    font-size: 12px;
    text-align: left;
    padding: 4px;
  }


}